/build/
/CMakeFiles/
/cmake-build-debug/
/cmake-build-release/
CMakeCache.txt
Makefile
CTestTestfile.cmake
cmake_install.cmake

*.exe
*.out
*.app
*.lib
*.a
*.so
*.dll
*.obj
*.o

*.log
*.tmp
*.swp
*.dSYM/

.vscode/
/.idea/
/*.iml

/_deps/
/packages/

.DS_Store
